.about_team {
  text-align: center;
  overflow: hidden;
  .team_title{
    font-size: 40px;
    font-family: $rob;
    font-weight: 500;
    color: $pfont;
    padding-bottom: 75px;
  }
  .team_inner{
    .team_item{
      @include transition;
      margin-bottom: 50px;
      .team_img{
        img{
          height: 100%;
          width: 100%;
        }
      }
      .team_name{
        padding: 10px 0px;
        h4{
          color: $dip_1;
          margin: 0;
          text-align: inherit;
          font-weight: 500;
          text-transform: none;
          font-style: normal;
          line-height: 1.5em;
        }
        p{
          color: $gray;
          font-weight: 300;
          font-size: 18px;
          padding-bottom: 10px;
        }
      }
      
      &:hover{
          box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.11);
          .more_btn{
              opacity: 1;
          }
      }
    }
  }
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}